<!doctype html>
<html lang="en">
<body>
<main>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-sm-12 col-md-3 col-margin">
          <p class="fw-bold small m-0 p-0">STAD</p>
          <select class="form-select" aria-label="Default select example">
            <option value="1" selected>Amsterdam</option>
            <option value="2">Leiden</option>
            <option value="3">Den Haag</option>
          </select>
          <p class="fw-bold small mt-3 mb-0 p-0">STAD REGIO</p>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">
              Leidseplein
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Haarlemmerweg
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Amstelveenweg
            </button>
          </div>
        </div>


        <div class="col">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietsenamsterdamcover.jpg"/>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietsenamsterdamcover.jpg"/>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietsenamsterdamcover.jpg"/>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietswater.jpg"/>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietswater.jpg"/>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <div class="box">
                  <img src="assets/images/fietswater.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <h5>Canel Tour</h5>
          <p>Tour around the Canels. Visit the old warehouse that helped Amsterdam become a great city! </p>
          <h5>Bike location:</h5>
          <p>Leidseplein</p>
          <h6>Approximate duration:</h6>
          <p>2 hours and 10 minutes</p>
          <button class="btn btn-primary btn-sm">Subscribe</button>
        </div>

      </div>

    </div>
  </div>
</main>
</body>
</html>

