<div id="leftcontent" class="container-sm content">
  <div class="row">
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
          Amsterdam
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdwon-item" href="#">Leidseplein</a></li>
          <li><a class="dropdwon-item" href="#">Haarlemmerweg</a></li>
          <li><a class="dropdwon-item" href="#">Amstelveenseweg</a></li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div id="centercontent2" class="container-sm content">
        <h1>hoi</h1>
      </div>
    </div>
    <div class="col-3">
      <div id="rightcontent2" class="container-sm content">
        <h1>hoi</h1>
      </div>
    </div>
  </div>
</div>
