<div id="navbarHeader" class="container-fluid pt-2">
  <div class="dropdown show pb-2">
    <a class="btn" href="">
      Home
    </a>
    <a class="btn dropdown-toggle" href="scooters/overview31"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scooters
    </a>

    <a class="btn ">
    <select class="form-select" aria-label="Default select example">
      <option value="1" selected>Scooters</option>
      <option value="2">Scooter overview</option>
    </select>
  </a>
    <a class="btn ">
      <select class="form-select" aria-label="Default select example">
        <option value="1" selected>Amsterdam</option>
        <option value="2">history</option>
        <option value="3">last month</option>
      </select>
    </a>

    <a class="rightnav btn">
      Log in
    </a>
    <a class="rightnav btn">
      Sign up
    </a>


    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

