<div id="navbarHeader" class="container-fluid pt-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand pt-0" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Scooters
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="scooters/overview31">Scooters Overview</a>
            <a class="dropdown-item" routerLink="scooters/overview32">overview32</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Amsterdam
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/router-param/ACME">history</a>
            <a class="dropdown-item" routerLink="/query-param">last month</a>
          </div>
        </li>
        <li id="navRight1" class="nav-item">
            <a class="nav-link" href="#">
              Log in
            </a>
        </li>
        <li id="navRight2" class="nav-item">
          <a class="nav-link" href="#">
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>


