<div *ngIf="inputScooter != null; else noneSelected">
  <div class="container">
    <div class="col">


      <div class="row">
        <table class="table table-striped table-md border">
          <thead>
          <tr>
            <th>Update scooter {{inputScooter.tag}} (id= {{inputScooter.id}})</th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="row">
        <label for="tagInput">Tag</label>
        <input type="text" class="form-control" id="tagInput" placeholder="Tag" [ngModel]="inputScooter.tag">
      </div>

      <div class="row">
        <label for="statusInput">Status</label>
        <select name="status" id="statusInput" [ngModel]="inputScooter.status">
          <option value="IDLE">IDLE</option>
          <option value="INUSE">INUSE</option>
          <option value="MAINTENANCE">MAINTENANCE</option>
        </select>
      </div>

      <div class="row">
        <label for="gpsInput">GPS location</label>
        <input type="text" class="form-control" id="gpsInput" placeholder="GPS location"
               [ngModel]="inputScooter.gpsLocation">
      </div>

      <div class="row">
        <label for="mileageInput">Mileage (in km)</label>
        <input type="number" class="form-control" id="mileageInput" placeholder="Mileage"
               [ngModel]="inputScooter.mileage">
      </div>

      <div class="row">
        <label for="chargeInput">Battery charge (in %)</label>
        <input type="number" class="form-control" id="chargeInput" placeholder="Charge"
               [ngModel]="inputScooter.batteryCharge">
      </div>

      <div class="col-sm-12">
        <button type="button" class="btn btn-danger float-end" (click)="onDeleteScooter()">Delete</button>
      </div>

    </div>
  </div>
</div>
<ng-template #noneSelected>
  <p>Select a scooter from the left page!</p>
</ng-template>
