<div class="container">
  <h1>Please provide your login credentials</h1>
  <form>
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email" [(ngModel)]="email">
    <br>
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control w-50" id="password" name="password" formControlName="password">
    <br>
    <button class="btn btn-success" type="submit" value="Log in" [disabled]="!group.valid">Log in</button>
  </form>
  <br>
  <h3>Current Token:</h3>
    <textarea class="w-100 " readonly >{{token}}</textarea>
  <button (click)="refresh()">refresh</button>
</div>
