<div class="container">
  <h1>Please provide your login credentials</h1>
  <form [formGroup]="group" (ngSubmit)="logIn()">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control w-50" id="email" formControlName="email" name="email">
    <br>
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control w-50" id="password" name="password" formControlName="password">
    <br>
    <button class="btn btn-success" type="submit" value="Log in" [disabled]="!group.valid">Log in</button>
  </form>
  <br>
  <h3>Current Token:</h3>
    <textarea class="w-100 " readonly >{{token}}</textarea>
  <button (click)="refresh()">refresh</button>
</div>
