#navbarHeader{
  display: block;
  /*position: absolute;*/
  top: 0%;
  width: 100%;
  left: 0%;
  right: 0%;
  height: 12%;
  background-color: bisque;
}

#titel{
  text-align: center;
}

#subtitel{
  text-align: right;
  margin-right: 20%;
}
.form-select{
  background-color: bisque;
  border: none;
}
@media (min-width: 976px){
  #navRight1{
    position: absolute;
    display: block;
    right: 4%;
  }
  #navRight2{
    position: absolute;
    display: block;
    right: 0%;
  }
  #navRight3{
    position: absolute;
    display: block;
    right: 0%;
  }
}

.table-active{
  background-color: bisque;
}

